html {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://www.royal.uk/sites/all/themes/tbm/_assets/img/bg.png) no-repeat center bottom fixed;
  background-size: 100%;
  font-family: Raleway, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
background-color: rgba(255,255,255,0.95);
display: table;
height: 150px;
margin-top: auto;
padding-top: 20px;
position: fixed;
text-align: center;
width: 100%;
z-index: 110;
}

.nav1 {
  float: left;
  width: 20%;
}

.nav2 {
  float: left;
  width: 60%;
}

menu {
  width: 1000px;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.blocktext1 {
  margin: 40px auto 40px;
  text-align: left;
}

.blocktext2 {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

blockquote {
    font-size:21px;
}

blockquote :before {
    color: #233580;
    content: open-quote;
    font-size: 100px;
    font-weight: bold;
}

blockquote  :after {
  color: #233580;
  content: close-quote;
  font-size: 100px;
  font-weight: bold;
}

.quote {
border-bottom: 1px solid #233580;
border-top: 1px solid #233580;
font-family: soria, Georgia, Times, serif;
font-size: 40px;
line-height: 48px;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
max-width: 500px;
padding: 90px;
position: relative;
text-align: left;
}

blockquote {
border: none;
margin-top: -70px;
position: relative;
}

 blockquote:before {
 content: "“";
 left: 20px;
 position: absolute;
 }

  blockquote:after {
  bottom: -30px;
  content: "”";
  position: absolute;
  right: 20px;
 }

  blockquote:before, blockquote:after {
    color: #233580;
    font-size: 200px;
  }

  .text-center {
    text-align: center;
  }

.img {
  margin-top: 0;
  text-align: left;
}

.container1 {
  margin-top: 90px;
  padding: 25px 0;
  text-align: center;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 40px;
}

.width {
  max-width: 700px;
}

h1 {
  color: #233580;
  font-size: 42px;
  font-weight: 300;
  line-height: 42px;
}

h2 {
  font-size: 40px;
}

.style1 {
  color: black;
  font-size: 17px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  width: 700px;
}

.style2 {
  color: black;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  width: 700px;
}

.style3 {
  color: black;
}
.style4 {
  color: black;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  max-width: 700px;
}

.main {
  width: 1000px;
}

a {
  color: #233580;
}

a:hover {
  color: pink;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }
}
